In [4]:
import pandas as pd
import numpy as np 

# reading train data
train_data = pd.read_csv('pp5i_train.gr.csv')
print("orig: ", train_data.shape)


# droping the index column
# train_data.drop(['SNO'], axis=1, inplace=True)
train_data.set_index(keys='SNO', inplace=True)
print("after set index: ", train_data.shape)



#  Threshold data
train_data[train_data>16000] = 16000
train_data[train_data<20] = 20



# calculating and removing fold differences
train_data['fold_differences'] = train_data.max(axis=1) / train_data.min(axis=1)
train_data.drop(train_data[ train_data['fold_differences']<2 ].index, axis=0, inplace=True)
train_data.drop(['fold_differences'], axis=1, inplace=True)
print("after fold differences: ", train_data.shape)
train_data.loc[len(train_data)] = "MED"

# reading class labels and adding them to the train data
labels = pd.read_table('pp5i_train_class.txt')
train_data.iloc[-1, :] = labels.T.values
# for idx, item in enumerate(train_data.iloc[-1, :]):
#     train_data.iloc[-1, idx] = item[0]

train_data = train_data.T



print(train_data)

orig:  (7070, 70)
after set index:  (7070, 69)
after fold differences:  (6413, 69)
SNO A28102_at AB000114_at AB000115_at AB000220_at AB000409_at AB000449_at  \
1          30          22          29          76         167          32
2          46          31          70         208         211          20
3          31          20          20         244         179         229
4          31          20          20          39         119          20
5          26          26          20          85         161          34
..        ...         ...         ...         ...         ...         ...
65         68          21          35          30         131          20
66         77          22          30          31         132          20
67         56          25          65          31         158          20
68         41          21          32          27         164          20
69         38          20          25          20         172          20

SNO AB000450_at AB000460_at AB000462_at AB000464_at  ... S78825_at U11863_at  \
1            20         165          47         101  ...        20       155
2            20         184          36         130  ...        20       143
3            20         219          41         131  ...        20       120
4            20         156          26          86  ...        20       161
5            20         206          34         140  ...        20       119
..          ...         ...         ...         ...  ...       ...       ...
65           22         140          37          81  ...        21       106
66           20         150          43         128  ...        26       127
67           27         173          54         108  ...        20        73
68           20         165          74         121  ...        20        83
69           20         145          48         118  ...        40        94

SNO U29175_at U48730_at U58516_at X06956_at X83863_at Z17240_at M71243_f_at  \
1         240        27       161        34       116        44          30
2         213        27       265        98       123        43          31
3         367        24       126        21       142        44          28
4         358        27       163        20       134        38          21
5         373        41       138        29       153        42          26
..        ...       ...       ...       ...       ...       ...         ...
65        181        20       364        34       297        39          27
66        177        26       251        45       267        42          30
67        159        20       315        27       290        36          21
68        137        21       248        46       255        44          33
69        125        20       285        61       397        38          24

SNO 6413
1    MED
2    MED
3    MED
4    MED
5    MED
..   ...
65   JPA
66   JPA
67   JPA
68   JPA
69   JPA

[69 rows x 6414 columns]

### MED

In [5]:
med = train_data[ train_data.iloc[:, -1] == "MED" ]
med = med.T

med.drop(med.index[-1], inplace=True)
# med = med.T

med_inverse = train_data[ train_data.iloc[:, -1] != "MED"]
med_inverse = med_inverse.T
med_inverse.drop(med_inverse.index[-1], inplace=True)
# med_inverse = med_inverse.T


# print(med.shape, med_inverse.shape)

med["mean"] = med.mean(axis=1, skipna=True)
med["std"] = med.std(axis=1, skipna=True)
# print(med.head(3))

med_inverse["mean"] = med_inverse.mean(axis=1, skipna=True)
med_inverse["std"] = med_inverse.std(axis=1, skipna=True)
# print(med_inverse.head(3))

nume = med.loc[:,'mean'] - med_inverse.loc[:,'mean']
deno = np.sqrt( med.loc[:,'std'].pow(2)/40  + med_inverse.loc[:,'std'].pow(2)/30)

med.loc[:, 'T'] = nume / deno

med.drop(labels=['mean', 'std'], axis=1, inplace=True)


med.sort_values(['T'], ascending=False, na_position='last', inplace=True)
# med['MED'] = "MED"
med.drop(labels='T', axis=1, inplace=True)

top_meds = {}
top_meds_index = {}
N = [2, 4, 6, 8, 10, 12, 15, 20, 25, 30]
for item in N:
    top_meds[item] = med.iloc[:item, :]
    top_meds[item].sort_index(axis=0, inplace=True, na_position='last', ascending=True)
    top_meds_index[item] = list(top_meds[item].index)
    
# top_med = med.iloc[:30, :]
# top_med.sort_index(axis=0, inplace=True, na_position='last', ascending=True)
# top_med.to_csv('med.csv')
# med_index = list(top_med.index)
print(top_meds_index)

{2: ['M31303_rna1_at', 'U16954_at'], 4: ['D80004_at', 'M31303_rna1_at', 'U16954_at', 'U79262_at'], 6: ['D50310_at', 'D80004_at', 'M31303_rna1_at', 'M93119_at', 'U16954_at', 'U79262_at'], 8: ['D50310_at', 'D80004_at', 'M31303_rna1_at', 'M93119_at', 'U09087_s_at', 'U16954_at', 'U79262_at', 'Z69915_at'], 10: ['D50310_at', 'D80004_at', 'M31303_rna1_at', 'M93119_at', 'U09087_s_at', 'U16954_at', 'U30521_at', 'U79262_at', 'X73358_s_at', 'Z69915_at'], 12: ['D50310_at', 'D80004_at', 'L37792_at', 'M31303_rna1_at', 'M93119_at', 'U09087_s_at', 'U16954_at', 'U30521_at', 'U79248_at', 'U79262_at', 'X73358_s_at', 'Z69915_at'], 15: ['D50310_at', 'D80004_at', 'L37792_at', 'M31303_rna1_at', 'M80629_at', 'M93119_at', 'S82024_at', 'U09087_s_at', 'U16954_at', 'U19878_at', 'U30521_at', 'U79248_at', 'U79262_at', 'X73358_s_at', 'Z69915_at'], 20: ['D50310_at', 'D78012_at', 'D80004_at', 'L11931_at', 'L37792_at', 'M31303_rna1_at', 'M80629_at', 'M93119_at', 'S82024_at', 'U09087_s_at', 'U16954_at', 'U18271_cds3_s_at', 'U19878_at', 'U27193_at', 'U30521_at', 'U79248_at', 'U79262_at', 'X70683_at', 'X73358_s_at', 'Z69915_at'], 25: ['D50310_at', 'D55716_at', 'D78012_at', 'D80004_at', 'L11931_at', 'L37043_at', 'L37792_at', 'M31303_rna1_at', 'M80629_at', 'M93119_at', 'S82024_at', 'U09087_s_at', 'U16954_at', 'U18271_cds3_s_at', 'U19878_at', 'U27193_at', 'U30521_at', 'U44378_at', 'U49973_xpt2_at', 'U61145_at', 'U79248_at', 'U79262_at', 'X70683_at', 'X73358_s_at', 'Z69915_at'], 30: ['D50310_at', 'D55716_at', 'D78012_at', 'D80004_at', 'HG1612-HT1612_at', 'L11931_at', 'L37043_at', 'L37792_at', 'M31303_rna1_at', 'M37457_at', 'M80629_at', 'M93119_at', 'S78296_at', 'S82024_at', 'U09087_s_at', 'U16954_at', 'U18271_cds3_s_at', 'U19878_at', 'U27193_at', 'U30521_at', 'U31382_at', 'U44378_at', 'U49973_xpt2_at', 'U61145_at', 'U79248_at', 'U79262_at', 'V00599_s_at', 'X70683_at', 'X73358_s_at', 'Z69915_at']}

C:\Users\Cypher\anaconda3\lib\site-packages\pandas\core\frame.py:6393: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().sort_index(

### MGL

In [6]:
mgl = train_data[ train_data.iloc[:, -1] == "MGL" ]
mgl = mgl.T
mgl.drop(mgl.index[-1], inplace=True)
# mgl = mgl.T

mgl_inverse = train_data[ train_data.iloc[:, -1] != "MGL"]
mgl_inverse = mgl_inverse.T
mgl_inverse.drop(mgl_inverse.index[-1], inplace=True)
# mgl_inverse = mgl_inverse.T

# print(mgl.shape, mgl_inverse.shape)

mgl["mean"] = mgl.mean(axis=1, skipna=True)
mgl["std"] = mgl.std(axis=1, skipna=True)
# print(mgl.head(3))

mgl_inverse["mean"] = mgl_inverse.mean(axis=1, skipna=True)
mgl_inverse["std"] = mgl_inverse.std(axis=1, skipna=True)
# print(mgl_inverse.head(3))


nume = mgl.loc[:,'mean'] - mgl_inverse.loc[:,'mean']
deno = np.sqrt( mgl.loc[:,'std'].pow(2)/7  + mgl_inverse.loc[:,'std'].pow(2)/63)

mgl.loc[:, 'T'] = nume / deno

mgl.drop(labels=['mean', 'std'], axis=1, inplace=True)
mgl.sort_values(['T'], ascending=False, na_position='last', inplace=True)
# mgl['MGL'] = "MGL"
mgl.drop(labels='T', axis=1, inplace=True)


# top_mgl = mgl.iloc[:30, :]
# top_mgl.sort_index(axis=0, inplace=True, na_position='last', ascending=True)
# # top_mgl.to_csv('mgl.csv')
# mgl_index = list(top_mgl.index)
# mgl_index
top_mgls = {}
top_mgls_index = {}
N = [2, 4, 6, 8, 10, 12, 15, 20, 25, 30]
for item in N:
    top_mgls[item] = mgl.iloc[:item, :]
    top_mgls[item].sort_index(axis=0, inplace=True, na_position='last', ascending=True)
    top_mgls_index[item] = list(top_mgls[item].index)
print(top_mgls_index)

{2: ['V01515_cds1_at', 'X00371_rna1_at'], 4: ['D85815_at', 'M20137_at', 'V01515_cds1_at', 'X00371_rna1_at'], 6: ['D85815_at', 'M20137_at', 'U17760_rna1_at', 'V01515_cds1_at', 'X00371_rna1_at', 'X52011_at'], 8: ['D85815_at', 'L25270_at', 'M20137_at', 'M83308_at', 'U17760_rna1_at', 'V01515_cds1_at', 'X00371_rna1_at', 'X52011_at'], 10: ['D85815_at', 'L25270_at', 'L36463_at', 'M20137_at', 'M83308_at', 'U17760_rna1_at', 'V01515_cds1_at', 'X00371_rna1_at', 'X03066_at', 'X52011_at'], 12: ['D85815_at', 'L25270_at', 'L36463_at', 'L43338_at', 'M20137_at', 'M83308_at', 'U17760_rna1_at', 'U70321_at', 'V01515_cds1_at', 'X00371_rna1_at', 'X03066_at', 'X52011_at'], 15: ['D85815_at', 'HG4490-HT4876_f_at', 'L25270_at', 'L36463_at', 'L41351_at', 'L43338_at', 'M20137_at', 'M83308_at', 'U17760_rna1_at', 'U70321_at', 'U78551_at', 'V01515_cds1_at', 'X00371_rna1_at', 'X03066_at', 'X52011_at'], 20: ['D85815_at', 'HG3286-HT3463_at', 'HG4490-HT4876_f_at', 'HG881-HT881_at', 'L25270_at', 'L36463_at', 'L41351_at', 'L42354_at', 'L43338_at', 'M20137_at', 'M83308_at', 'U17760_rna1_at', 'U70321_at', 'U78551_at', 'V01515_cds1_at', 'X00371_rna1_at', 'X03066_at', 'X14329_at', 'X52011_at', 'X52425_at'], 25: ['D17716_at', 'D85815_at', 'HG3286-HT3463_at', 'HG4490-HT4876_f_at', 'HG881-HT881_at', 'J05500_at', 'L25270_at', 'L34355_at', 'L36463_at', 'L41351_at', 'L42354_at', 'L43338_at', 'M20137_at', 'M83308_at', 'S83362_s_at', 'U17760_rna1_at', 'U70321_at', 'U78551_at', 'V01515_cds1_at', 'X00371_rna1_at', 'X03066_at', 'X14329_at', 'X52011_at', 'X52425_at', 'X96401_at'], 30: ['D17716_at', 'D85815_at', 'D87023_cds2_at', 'HG1804-HT1829_at', 'HG3286-HT3463_at', 'HG4490-HT4876_f_at', 'HG881-HT881_at', 'J05500_at', 'L05628_s_at', 'L25270_at', 'L34355_at', 'L36463_at', 'L41351_at', 'L42354_at', 'L43338_at', 'M20137_at', 'M83308_at', 'S83362_s_at', 'U17760_rna1_at', 'U52155_at', 'U70321_at', 'U78551_at', 'V01515_cds1_at', 'X00371_rna1_at', 'X03066_at', 'X07730_at', 'X14329_at', 'X52011_at', 'X52425_at', 'X96401_at']}

### RHB

In [7]:

rhb = train_data[ train_data.iloc[:, -1] == "RHB" ]
rhb = rhb.T
rhb.drop(rhb.index[-1], inplace=True)
# rhb = rhb.T

rhb_inverse = train_data[ train_data.iloc[:, -1] != "RHB"]
rhb_inverse = rhb_inverse.T
rhb_inverse.drop(rhb_inverse.index[-1], inplace=True)
# rhb_inverse = rhb_inverse.T

# print(rhb.shape, rhb_inverse.shape)

rhb["mean"] = rhb.mean(axis=1, skipna=True)
rhb["std"] = rhb.std(axis=1, skipna=True)
# print(rhb.head(3))

rhb_inverse["mean"] = rhb_inverse.mean(axis=1, skipna=True)
rhb_inverse["std"] = rhb_inverse.std(axis=1, skipna=True)
# print(rhb_inverse.head(3))

nume = rhb.loc[:,'mean'] - rhb_inverse.loc[:,'mean']
deno = np.sqrt( rhb.loc[:,'std'].pow(2)/7  + rhb_inverse.loc[:,'std'].pow(2)/63)

rhb.loc[:, 'T'] = nume / deno
rhb.drop(labels=['mean', 'std'], axis=1, inplace=True)

rhb.sort_values(['T'], ascending=False, na_position='last', inplace=True)
# rhb['RHB'] = "RHB"
rhb.drop(labels='T', axis=1, inplace=True)

# top_rhb = rhb.iloc[:30, :]
# top_rhb.sort_index(axis=0, inplace=True, na_position='last', ascending=True)
# # top_rhb.to_csv('rhb.csv')
# rhb_index = list(top_rhb.index)
# rhb_index
top_rhbs = {}
top_rhbs_index = {}
N = [2, 4, 6, 8, 10, 12, 15, 20, 25, 30]
for item in N:
    top_rhbs[item] = rhb.iloc[:item, :]
    top_rhbs[item].sort_index(axis=0, inplace=True, na_position='last', ascending=True)
    top_rhbs_index[item] = list(top_rhbs[item].index)
print(top_rhbs_index)

{2: ['D42041_at', 'J03191_at'], 4: ['D42041_at', 'HG3514-HT3708_at', 'J03191_at', 'M57464_s_at'], 6: ['D42041_at', 'D45248_at', 'HG3514-HT3708_at', 'J03191_at', 'M57464_s_at', 'X54304_at'], 8: ['D42041_at', 'D45248_at', 'HG3514-HT3708_at', 'J03191_at', 'L06132_at', 'M57464_s_at', 'X04106_at', 'X54304_at'], 10: ['D14043_at', 'D42041_at', 'D45248_at', 'HG3514-HT3708_at', 'J03191_at', 'L06132_at', 'M57464_s_at', 'U33818_at', 'X04106_at', 'X54304_at'], 12: ['D14043_at', 'D42041_at', 'D45248_at', 'HG3514-HT3708_at', 'J03191_at', 'L06132_at', 'M57464_s_at', 'U33818_at', 'X04106_at', 'X15187_at', 'X54304_at', 'Z97074_at'], 15: ['D14043_at', 'D31890_at', 'D42041_at', 'D45248_at', 'HG3514-HT3708_at', 'J03191_at', 'L06132_at', 'M57464_s_at', 'U33818_at', 'U47621_at', 'X04106_at', 'X15187_at', 'X54304_at', 'Y07604_at', 'Z97074_at'], 20: ['D14043_at', 'D31890_at', 'D42041_at', 'D45248_at', 'D79997_at', 'D83174_s_at', 'HG3514-HT3708_at', 'J03191_at', 'L06132_at', 'L23333_s_at', 'M34338_s_at', 'M57464_s_at', 'U33818_at', 'U47621_at', 'X04106_at', 'X15187_at', 'X54304_at', 'X68090_s_at', 'Y07604_at', 'Z97074_at'], 25: ['AJ001421_at', 'D14043_at', 'D29675_s_at', 'D31890_at', 'D42041_at', 'D45248_at', 'D79997_at', 'D83174_s_at', 'HG1595-HT4788_s_at', 'HG3514-HT3708_at', 'J03191_at', 'L06132_at', 'L23333_s_at', 'M34338_s_at', 'M57464_s_at', 'M96954_s_at', 'U33818_at', 'U47621_at', 'X04106_at', 'X15187_at', 'X54304_at', 'X63469_at', 'X68090_s_at', 'Y07604_at', 'Z97074_at'], 30: ['AJ001421_at', 'D14043_at', 'D29675_s_at', 'D31766_at', 'D31890_at', 'D42041_at', 'D45248_at', 'D50405_at', 'D79997_at', 'D83174_s_at', 'HG1595-HT4788_s_at', 'HG3514-HT3708_at', 'HG613-HT613_at', 'J03191_at', 'L06132_at', 'L23333_s_at', 'M34338_s_at', 'M57464_s_at', 'M96954_s_at', 'U33818_at', 'U47621_at', 'U96131_at', 'X04106_at', 'X15187_at', 'X54304_at', 'X57959_at', 'X63469_at', 'X68090_s_at', 'Y07604_at', 'Z97074_at']}

In [8]:
epd = train_data[ train_data.iloc[:, -1] == "EPD" ]
epd = epd.T
epd.drop(epd.index[-1], inplace=True)
# epd = epd.T

epd_inverse = train_data[ train_data.iloc[:, -1] != "EPD"]
epd_inverse = epd_inverse.T
epd_inverse.drop(epd_inverse.index[-1], inplace=True)
# epd_inverse = epd_inverse.T

# print(epd.shape, epd_inverse.shape)

epd["mean"] = epd.mean(axis=1, skipna=True)
epd["std"] = epd.std(axis=1, skipna=True)
# print(epd.head(3))

epd_inverse["mean"] = epd_inverse.mean(axis=1, skipna=True)
epd_inverse["std"] = epd_inverse.std(axis=1, skipna=True)
# print(epd_inverse.head(3))

nume = epd.loc[:,'mean'] - epd_inverse.loc[:,'mean']
deno = np.sqrt( epd.loc[:,'std'].pow(2)/10  + epd_inverse.loc[:,'std'].pow(2)/60)

epd.loc[:, 'T'] = nume / deno
epd.drop(labels=['mean', 'std'], axis=1, inplace=True)
epd.sort_values(['T'], ascending=False, na_position='last', inplace=True)
# epd['EPD'] = "EPD"
epd.drop(labels='T', axis=1, inplace=True)
# top_epd = epd.iloc[:30, :]
# top_epd.sort_index(axis=0, inplace=True, na_position='last', ascending=True)
# # top_epd.to_csv('epd.csv')
# epd_index = list(top_epd.index)
# print(top_rhbs_index)
top_epds = {}
top_epds_index = {}
N = [2, 4, 6, 8, 10, 12, 15, 20, 25, 30]
for item in N:
    top_epds[item] = epd.iloc[:item, :]
    top_epds[item].sort_index(axis=0, inplace=True, na_position='last', ascending=True)
    top_epds_index[item] = list(top_epds[item].index)
print(top_epds_index)

{2: ['D14662_at', 'X76105_at'], 4: ['D00763_at', 'D14662_at', 'U07550_at', 'X76105_at'], 6: ['D00763_at', 'D14662_at', 'L36818_at', 'U06155_at', 'U07550_at', 'X76105_at'], 8: ['D00763_at', 'D14662_at', 'L36818_at', 'M75099_at', 'U06155_at', 'U07550_at', 'X65784_s_at', 'X76105_at'], 10: ['D00763_at', 'D14662_at', 'L36818_at', 'M19645_at', 'M75099_at', 'U06155_at', 'U07550_at', 'U91930_at', 'X65784_s_at', 'X76105_at'], 12: ['D00763_at', 'D14662_at', 'L36818_at', 'M19645_at', 'M69066_at', 'M75099_at', 'U06155_at', 'U07550_at', 'U66879_at', 'U91930_at', 'X65784_s_at', 'X76105_at'], 15: ['D00763_at', 'D14662_at', 'L36818_at', 'M19645_at', 'M69066_at', 'M75099_at', 'S79873_s_at', 'U01923_at', 'U06155_at', 'U07550_at', 'U66879_at', 'U91930_at', 'X03363_s_at', 'X65784_s_at', 'X76105_at'], 20: ['D00763_at', 'D14662_at', 'L36818_at', 'L42572_at', 'M19645_at', 'M23161_at', 'M34057_at', 'M69066_at', 'M75099_at', 'S79873_s_at', 'U01923_at', 'U06155_at', 'U07550_at', 'U66879_at', 'U68142_at', 'U91930_at', 'X03363_s_at', 'X65784_s_at', 'X76105_at', 'Z29064_at'], 25: ['D00763_at', 'D14662_at', 'D79996_at', 'L18960_at', 'L36818_at', 'L42572_at', 'M19645_at', 'M23161_at', 'M34057_at', 'M69066_at', 'M75099_at', 'S79873_s_at', 'U01923_at', 'U06155_at', 'U07550_at', 'U46692_rna1_at', 'U65410_at', 'U66879_at', 'U68142_at', 'U79254_at', 'U91930_at', 'X03363_s_at', 'X65784_s_at', 'X76105_at', 'Z29064_at'], 30: ['D00763_at', 'D14662_at', 'D79996_at', 'L18960_at', 'L36818_at', 'L42572_at', 'M19645_at', 'M23161_at', 'M34057_at', 'M69066_at', 'M75099_at', 'S79873_s_at', 'U01923_at', 'U06155_at', 'U07550_at', 'U46692_rna1_at', 'U65410_at', 'U66879_at', 'U68142_at', 'U79254_at', 'U79267_at', 'U91930_at', 'X03363_s_at', 'X65784_s_at', 'X75861_at', 'X76105_at', 'X99720_rna1_at', 'Z19554_s_at', 'Z29064_at', 'Z56281_at']}

In [9]:
jpa = train_data[ train_data.iloc[:, -1] == "JPA" ]
jpa = jpa.T
jpa.drop(jpa.index[-1], inplace=True)
# jpa = jpa.T

jpa_inverse = train_data[ train_data.iloc[:, -1] != "JPA"]
jpa_inverse = jpa_inverse.T
jpa_inverse.drop(jpa_inverse.index[-1], inplace=True)
# jpa_inverse = jpa_inverse.T

print(jpa.shape, jpa_inverse.shape)

jpa["mean"] = jpa.mean(axis=1, skipna=True)
jpa["std"] = jpa.std(axis=1, skipna=True)
# print(jpa.head(3))

jpa_inverse["mean"] = jpa_inverse.mean(axis=1, skipna=True)
jpa_inverse["std"] = jpa_inverse.std(axis=1, skipna=True)
# print(jpa_inverse.head(3))

nume = jpa.loc[:,'mean'] - jpa_inverse.loc[:,'mean']
deno = np.sqrt( jpa.loc[:,'std'].pow(2)/6  + jpa_inverse.loc[:,'std'].pow(2)/64)

jpa.loc[:, 'T'] = nume / deno
jpa.drop(labels=['mean', 'std'], axis=1, inplace=True)
jpa.sort_values(['T'], ascending=False, na_position='last', inplace=True)
# jpa['JPA'] = "JPA"
jpa.drop(labels='T', axis=1, inplace=True)
# top_jpa = jpa.iloc[:30, :]
# top_jpa.sort_index(axis=0, inplace=True, na_position='last', ascending=True)
# # top_jpa.to_csv('jpa.csv')
# jpa_index = list(top_jpa.index)
top_jpas = {}
top_jpas_index = {}
N = [2, 4, 6, 8, 10, 12, 15, 20, 25, 30]
for item in N:
    top_jpas[item] = jpa.iloc[:item, :]
    top_jpas[item].sort_index(axis=0, inplace=True, na_position='last', ascending=True)
    top_jpas_index[item] = list(top_jpas[item].index)
print(top_jpas_index)

(6413, 6) (6413, 63)
{2: ['M16447_at', 'U79294_at'], 4: ['D13631_s_at', 'D25304_at', 'M16447_at', 'U79294_at'], 6: ['D13631_s_at', 'D25304_at', 'M16447_at', 'M93426_at', 'U51336_at', 'U79294_at'], 8: ['D13631_s_at', 'D25304_at', 'D87470_at', 'M16447_at', 'M93426_at', 'U51336_at', 'U79294_at', 'U90916_at'], 10: ['D13631_s_at', 'D25304_at', 'D87470_at', 'L08895_at', 'M16447_at', 'M93426_at', 'U51336_at', 'U79294_at', 'U90916_at', 'X61587_at'], 12: ['D13631_s_at', 'D25304_at', 'D87470_at', 'L08895_at', 'M16447_at', 'M93426_at', 'U51336_at', 'U79294_at', 'U90916_at', 'X03663_at', 'X60188_at', 'X61587_at'], 15: ['D13631_s_at', 'D25304_at', 'D87470_at', 'L08895_at', 'M16447_at', 'M93426_at', 'U24266_at', 'U32331_at', 'U48705_rna1_s_at', 'U51336_at', 'U79294_at', 'U90916_at', 'X03663_at', 'X60188_at', 'X61587_at'], 20: ['D13631_s_at', 'D25304_at', 'D87470_at', 'J04543_at', 'L08895_at', 'M16447_at', 'M93426_at', 'U24266_at', 'U32114_at', 'U32331_at', 'U48705_rna1_s_at', 'U51336_at', 'U52828_s_at', 'U79294_at', 'U83463_at', 'U90552_s_at', 'U90916_at', 'X03663_at', 'X60188_at', 'X61587_at'], 25: ['D13631_s_at', 'D25304_at', 'D31767_at', 'D87470_at', 'J04543_at', 'L08895_at', 'M16447_at', 'M84349_at', 'M93426_at', 'M94151_at', 'U24266_at', 'U32114_at', 'U32331_at', 'U47101_at', 'U48705_rna1_s_at', 'U51336_at', 'U52828_s_at', 'U79294_at', 'U83463_at', 'U90552_s_at', 'U90916_at', 'X03663_at', 'X60188_at', 'X61587_at', 'X84195_at'], 30: ['D13631_s_at', 'D25304_at', 'D31767_at', 'D63506_at', 'D87470_at', 'J04543_at', 'L08895_at', 'M16447_at', 'M59488_at', 'M63838_s_at', 'M84349_at', 'M93426_at', 'M94151_at', 'U24266_at', 'U32114_at', 'U32331_at', 'U47101_at', 'U48705_rna1_s_at', 'U51336_at', 'U52828_s_at', 'U79294_at', 'U83463_at', 'U90552_s_at', 'U90916_at', 'X03663_at', 'X14813_at', 'X60188_at', 'X61587_at', 'X78706_at', 'X84195_at']}

In [10]:
# indexes = list(med_index)
# for item in mgl_index:
#     indexes.append(item)
# for item in epd_index:
#     indexes.append(item)
# for item in jpa_index:
#     indexes.append(item)
# for item in rhb_index:
#     indexes.append(item)
# print(len(indexes))

# indexes = list(set(indexes))
# print((indexes))

indexes = {}
N = [2, 4, 6, 8, 10, 12, 15, 20, 25, 30]
for item in N:
    indexes[item] = list(top_meds_index[item])
    for idx in top_mgls_index[item]:
        indexes[item].append(idx)
    for idx in top_epds_index[item]:
        indexes[item].append(idx)
    for idx in top_jpas_index[item]:
        indexes[item].append(idx)
    for idx in top_rhbs_index[item]:
        indexes[item].append(idx)
    indexes[item] = list(set(indexes[item]))

for item in indexes:
    print("{}:\n{}".format(item, indexes[item]))

2:
['D42041_at', 'M16447_at', 'X00371_rna1_at', 'D14662_at', 'M31303_rna1_at', 'U16954_at', 'U79294_at', 'X76105_at', 'J03191_at', 'V01515_cds1_at']
4:
['D00763_at', 'M57464_s_at', 'D85815_at', 'D80004_at', 'U16954_at', 'J03191_at', 'D42041_at', 'HG3514-HT3708_at', 'D13631_s_at', 'U79294_at', 'M31303_rna1_at', 'V01515_cds1_at', 'U79262_at', 'M16447_at', 'D14662_at', 'U07550_at', 'D25304_at', 'X00371_rna1_at', 'M20137_at', 'X76105_at']
6:
['D00763_at', 'M57464_s_at', 'D80004_at', 'D85815_at', 'D50310_at', 'U51336_at', 'X54304_at', 'U16954_at', 'U06155_at', 'J03191_at', 'L36818_at', 'D42041_at', 'HG3514-HT3708_at', 'X52011_at', 'D13631_s_at', 'U79294_at', 'M31303_rna1_at', 'V01515_cds1_at', 'U79262_at', 'M16447_at', 'D14662_at', 'D45248_at', 'U07550_at', 'M93119_at', 'D25304_at', 'U17760_rna1_at', 'X00371_rna1_at', 'M20137_at', 'M93426_at', 'X76105_at']
8:
['D00763_at', 'M57464_s_at', 'D80004_at', 'D85815_at', 'M75099_at', 'D50310_at', 'U51336_at', 'X54304_at', 'U16954_at', 'U06155_at', 'L06132_at', 'J03191_at', 'L36818_at', 'M83308_at', 'D42041_at', 'U90916_at', 'HG3514-HT3708_at', 'X52011_at', 'D13631_s_at', 'U79294_at', 'M31303_rna1_at', 'V01515_cds1_at', 'U79262_at', 'X65784_s_at', 'U09087_s_at', 'M16447_at', 'D14662_at', 'D45248_at', 'U07550_at', 'L25270_at', 'M93119_at', 'D25304_at', 'U17760_rna1_at', 'X00371_rna1_at', 'M20137_at', 'D87470_at', 'X04106_at', 'M93426_at', 'X76105_at', 'Z69915_at']
10:
['D00763_at', 'M57464_s_at', 'D80004_at', 'D85815_at', 'M75099_at', 'D50310_at', 'U51336_at', 'D14043_at', 'X54304_at', 'U16954_at', 'U33818_at', 'U06155_at', 'L08895_at', 'J03191_at', 'L36818_at', 'L06132_at', 'M83308_at', 'D42041_at', 'U90916_at', 'HG3514-HT3708_at', 'X52011_at', 'D13631_s_at', 'U79294_at', 'M31303_rna1_at', 'U91930_at', 'V01515_cds1_at', 'U79262_at', 'X65784_s_at', 'M19645_at', 'U09087_s_at', 'X61587_at', 'M16447_at', 'X03066_at', 'D14662_at', 'D45248_at', 'L36463_at', 'U07550_at', 'L25270_at', 'X73358_s_at', 'M93119_at', 'D25304_at', 'U17760_rna1_at', 'X00371_rna1_at', 'M20137_at', 'D87470_at', 'X04106_at', 'M93426_at', 'X76105_at', 'U30521_at', 'Z69915_at']
12:
['D00763_at', 'M57464_s_at', 'D80004_at', 'D85815_at', 'U79248_at', 'D50310_at', 'M75099_at', 'L43338_at', 'U51336_at', 'D14043_at', 'X54304_at', 'U16954_at', 'M69066_at', 'U33818_at', 'U06155_at', 'L08895_at', 'J03191_at', 'L36818_at', 'L06132_at', 'M83308_at', 'X60188_at', 'D42041_at', 'U90916_at', 'HG3514-HT3708_at', 'U70321_at', 'X52011_at', 'D13631_s_at', 'U79294_at', 'M31303_rna1_at', 'U91930_at', 'U66879_at', 'U79262_at', 'V01515_cds1_at', 'X65784_s_at', 'X03663_at', 'M19645_at', 'U09087_s_at', 'X61587_at', 'M16447_at', 'X03066_at', 'D14662_at', 'D45248_at', 'Z97074_at', 'L36463_at', 'U07550_at', 'L25270_at', 'X73358_s_at', 'L37792_at', 'X15187_at', 'M93119_at', 'D25304_at', 'U17760_rna1_at', 'X00371_rna1_at', 'M20137_at', 'D87470_at', 'X04106_at', 'M93426_at', 'X76105_at', 'U30521_at', 'Z69915_at']
15:
['M80629_at', 'D00763_at', 'M57464_s_at', 'D80004_at', 'U19878_at', 'D85815_at', 'U48705_rna1_s_at', 'U79248_at', 'D50310_at', 'M75099_at', 'L43338_at', 'U51336_at', 'D14043_at', 'D31890_at', 'X54304_at', 'U16954_at', 'M69066_at', 'U33818_at', 'Y07604_at', 'U06155_at', 'L08895_at', 'J03191_at', 'L36818_at', 'L06132_at', 'M83308_at', 'X60188_at', 'D42041_at', 'U47621_at', 'X03363_s_at', 'U90916_at', 'HG3514-HT3708_at', 'U70321_at', 'U78551_at', 'X52011_at', 'D13631_s_at', 'U79294_at', 'M31303_rna1_at', 'U91930_at', 'U66879_at', 'U79262_at', 'V01515_cds1_at', 'X65784_s_at', 'X03663_at', 'M19645_at', 'S79873_s_at', 'U09087_s_at', 'HG4490-HT4876_f_at', 'U32331_at', 'X61587_at', 'M16447_at', 'U24266_at', 'X03066_at', 'D14662_at', 'D45248_at', 'Z97074_at', 'L36463_at', 'U07550_at', 'L25270_at', 'X73358_s_at', 'U01923_at', 'S82024_at', 'L37792_at', 'L41351_at', 'X15187_at', 'M93119_at', 'D25304_at', 'U17760_rna1_at', 'X00371_rna1_at', 'M20137_at', 'D87470_at', 'X04106_at', 'M93426_at', 'X76105_at', 'U30521_at', 'Z69915_at']
20:
['D50310_at', 'U51336_at', 'D31890_at', 'X54304_at', 'L06132_at', 'J03191_at', 'X60188_at', 'D42041_at', 'U47621_at', 'X52011_at', 'D13631_s_at', 'U79294_at', 'D14662_at', 'X14329_at', 'L36463_at', 'L25270_at', 'M34057_at', 'X73358_s_at', 'S82024_at', 'L41351_at', 'X00371_rna1_at', 'HG881-HT881_at', 'M69066_at', 'S79873_s_at', 'U32114_at', 'D78012_at', 'L08895_at', 'L36818_at', 'U18271_cds3_s_at', 'M83308_at', 'HG3514-HT3708_at', 'M31303_rna1_at', 'U66879_at', 'L11931_at', 'V01515_cds1_at', 'X03663_at', 'U09087_s_at', 'X61587_at', 'M16447_at', 'U24266_at', 'D45248_at', 'U07550_at', 'Z29064_at', 'U01923_at', 'L37792_at', 'M93119_at', 'M34338_s_at', 'U32331_at', 'M23161_at', 'X70683_at', 'U52828_s_at', 'L43338_at', 'D83174_s_at', 'U33818_at', 'U06155_at', 'U70321_at', 'U78551_at', 'U79262_at', 'X65784_s_at', 'D79997_at', 'HG4490-HT4876_f_at', 'L23333_s_at', 'X03066_at', 'D25304_at', 'M20137_at', 'X04106_at', 'U83463_at', 'U30521_at', 'Z69915_at', 'U90552_s_at', 'D00763_at', 'U68142_at', 'M57464_s_at', 'D80004_at', 'U19878_at', 'D85815_at', 'U48705_rna1_s_at', 'U79248_at', 'M75099_at', 'D14043_at', 'X68090_s_at', 'U16954_at', 'Y07604_at', 'X03363_s_at', 'U90916_at', 'L42354_at', 'U91930_at', 'M19645_at', 'L42572_at', 'J04543_at', 'Z97074_at', 'U27193_at', 'HG3286-HT3463_at', 'X15187_at', 'U17760_rna1_at', 'D87470_at', 'M93426_at', 'X76105_at', 'M80629_at', 'X52425_at']
25:
['D31767_at', 'D50310_at', 'U51336_at', 'D31890_at', 'X54304_at', 'D17716_at', 'L06132_at', 'J03191_at', 'X60188_at', 'D42041_at', 'U47621_at', 'X52011_at', 'U79254_at', 'D13631_s_at', 'U44378_at', 'U79294_at', 'X63469_at', 'HG1595-HT4788_s_at', 'AJ001421_at', 'M96954_s_at', 'D14662_at', 'X14329_at', 'L36463_at', 'L37043_at', 'L25270_at', 'M34057_at', 'X73358_s_at', 'S82024_at', 'L41351_at', 'X00371_rna1_at', 'HG881-HT881_at', 'M69066_at', 'S79873_s_at', 'U32114_at', 'D78012_at', 'L08895_at', 'L36818_at', 'U18271_cds3_s_at', 'M83308_at', 'HG3514-HT3708_at', 'L18960_at', 'M31303_rna1_at', 'U46692_rna1_at', 'U66879_at', 'L11931_at', 'U61145_at', 'V01515_cds1_at', 'X03663_at', 'D55716_at', 'U09087_s_at', 'X61587_at', 'M16447_at', 'U24266_at', 'D45248_at', 'U07550_at', 'Z29064_at', 'U01923_at', 'M84349_at', 'L37792_at', 'M93119_at', 'M34338_s_at', 'M23161_at', 'U32331_at', 'X70683_at', 'X84195_at', 'U52828_s_at', 'L43338_at', 'D83174_s_at', 'U33818_at', 'U06155_at', 'D79996_at', 'U70321_at', 'U78551_at', 'X96401_at', 'D29675_s_at', 'U79262_at', 'X65784_s_at', 'D79997_at', 'HG4490-HT4876_f_at', 'U47101_at', 'L23333_s_at', 'X03066_at', 'D25304_at', 'M20137_at', 'X04106_at', 'S83362_s_at', 'U49973_xpt2_at', 'U30521_at', 'Z69915_at', 'U83463_at', 'U90552_s_at', 'D00763_at', 'U68142_at', 'M57464_s_at', 'D80004_at', 'U19878_at', 'D85815_at', 'U48705_rna1_s_at', 'U79248_at', 'M75099_at', 'D14043_at', 'X68090_s_at', 'U65410_at', 'U16954_at', 'Y07604_at', 'X03363_s_at', 'U90916_at', 'L42354_at', 'U91930_at', 'M94151_at', 'M19645_at', 'L42572_at', 'J04543_at', 'Z97074_at', 'L34355_at', 'U27193_at', 'HG3286-HT3463_at', 'X15187_at', 'U17760_rna1_at', 'D87470_at', 'M93426_at', 'J05500_at', 'X76105_at', 'M80629_at', 'X52425_at']
30:
['D31767_at', 'S78296_at', 'D50310_at', 'U51336_at', 'D31890_at', 'X54304_at', 'Z56281_at', 'D17716_at', 'L06132_at', 'J03191_at', 'X60188_at', 'D42041_at', 'U47621_at', 'X52011_at', 'X75861_at', 'U79254_at', 'D13631_s_at', 'U44378_at', 'U79294_at', 'X63469_at', 'HG1595-HT4788_s_at', 'AJ001421_at', 'D87023_cds2_at', 'M96954_s_at', 'HG1612-HT1612_at', 'D14662_at', 'X14329_at', 'L36463_at', 'L37043_at', 'L25270_at', 'M59488_at', 'M34057_at', 'X73358_s_at', 'S82024_at', 'L41351_at', 'X00371_rna1_at', 'HG881-HT881_at', 'M69066_at', 'S79873_s_at', 'U79267_at', 'U32114_at', 'D78012_at', 'L08895_at', 'L36818_at', 'U18271_cds3_s_at', 'M83308_at', 'HG3514-HT3708_at', 'L18960_at', 'U52155_at', 'M31303_rna1_at', 'U46692_rna1_at', 'U66879_at', 'L11931_at', 'U61145_at', 'V01515_cds1_at', 'X03663_at', 'D55716_at', 'U09087_s_at', 'D31766_at', 'X61587_at', 'M16447_at', 'U24266_at', 'U31382_at', 'D45248_at', 'Z19554_s_at', 'U07550_at', 'Z29064_at', 'U01923_at', 'M84349_at', 'X07730_at', 'L37792_at', 'M93119_at', 'M63838_s_at', 'M34338_s_at', 'M23161_at', 'U32331_at', 'X70683_at', 'X84195_at', 'U52828_s_at', 'L43338_at', 'X99720_rna1_at', 'X14813_at', 'D83174_s_at', 'U33818_at', 'U06155_at', 'D79996_at', 'U70321_at', 'U78551_at', 'X96401_at', 'D29675_s_at', 'U79262_at', 'X65784_s_at', 'D63506_at', 'D79997_at', 'HG4490-HT4876_f_at', 'U47101_at', 'L23333_s_at', 'X03066_at', 'D25304_at', 'M20137_at', 'X04106_at', 'S83362_s_at', 'U49973_xpt2_at', 'U30521_at', 'Z69915_at', 'U83463_at', 'U90552_s_at', 'D00763_at', 'U68142_at', 'M57464_s_at', 'D80004_at', 'U19878_at', 'D85815_at', 'HG1804-HT1829_at', 'U48705_rna1_s_at', 'U79248_at', 'M75099_at', 'D14043_at', 'HG613-HT613_at', 'X68090_s_at', 'U65410_at', 'U16954_at', 'D50405_at', 'X57959_at', 'Y07604_at', 'X03363_s_at', 'U90916_at', 'U96131_at', 'L42354_at', 'L05628_s_at', 'V00599_s_at', 'U91930_at', 'M94151_at', 'M19645_at', 'L42572_at', 'J04543_at', 'Z97074_at', 'L34355_at', 'M37457_at', 'U27193_at', 'HG3286-HT3463_at', 'X15187_at', 'U17760_rna1_at', 'D87470_at', 'X78706_at', 'M93426_at', 'J05500_at', 'X76105_at', 'M80629_at', 'X52425_at']

In [11]:
data = {}
N = [2, 4, 6, 8, 10, 12, 15, 20, 25, 30]
for n in N:
    data[n] = pd.DataFrame()
    for item in indexes[n]:
        data[n][[item]] = train_data[[item]]
    data[n]['class'] = train_data.iloc[:, -1]

# for item in indexes:
#     data[[item]] = train_data[[item]]
# data['class'] = train_data.iloc[:, -1]

data

C:\Users\Cypher\AppData\Local\Temp/ipykernel_31144/581191737.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  data[n]['class'] = train_data.iloc[:, -1]
C:\Users\Cypher\anaconda3\lib\site-packages\pandas\core\frame.py:3641: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  self[k1] = value[k2]

{2:    D42041_at M16447_at X00371_rna1_at D14662_at M31303_rna1_at U16954_at  \
 1        178        89             29       243            724       931
 2        103        88             20       228            579       845
 3        182       106             20       185            608      1107
 4        249        78             28       238            619      1187
 5        200        75             33       173            676       969
 ..       ...       ...            ...       ...            ...       ...
 65       221       253             35       309            343       352
 66       209       228             43       249            277       329
 67       173       220             31       294            256       313
 68       163       233             33       285            271       287
 69       187       200             39       356            228       269

    U79294_at X76105_at J03191_at V01515_cds1_at class
 1         99       164       338             29   MED
 2        150        62       198             23   MED
 3         86        80       197             25   MED
 4        113       183       365             21   MED
 5        114        82       195             20   MED
 ..       ...       ...       ...            ...   ...
 65       911       118       246             20   JPA
 66       857       101       257             24   JPA
 67       781       117       292             21   JPA
 68       887        92       259             24   JPA
 69       887        83       263             28   JPA

 [69 rows x 11 columns],
 4:    D00763_at M57464_s_at D85815_at D80004_at U16954_at J03191_at D42041_at  \
 1        491         293       175       592       931       338       178
 2        350         192       155       317       845       198       103
 3        378          73       155       387      1107       197       182
 4        476         111       136       312      1187       365       249
 5        326          32       155       370       969       195       200
 ..       ...         ...       ...       ...       ...       ...       ...
 65       297          62       177        34       352       246       221
 66       250          66       223        43       329       257       209
 67       316          83       213        38       313       292       173
 68       171          75       228        51       287       259       163
 69       247          65       216        54       269       263       187

    HG3514-HT3708_at D13631_s_at U79294_at  ... V01515_cds1_at U79262_at  \
 1               273          21        99  ...             29       179
 2               231          54       150  ...             23       192
 3               415          20        86  ...             25       215
 4               335          31       113  ...             21       187
 5               341          20       114  ...             20       263
 ..              ...         ...       ...  ...            ...       ...
 65              290         365       911  ...             20        89
 66              295         331       857  ...             24        74
 67              390         396       781  ...             21        66
 68              355         314       887  ...             24        80
 69              363         293       887  ...             28        78

    M16447_at D14662_at U07550_at D25304_at X00371_rna1_at M20137_at X76105_at  \
 1         89       243       390       270             29       117       164
 2         88       228       302       250             20        75        62
 3        106       185       272       140             20        68        80
 4         78       238       378       167             28       101       183
 5         75       173       191       141             33        83        82
 ..       ...       ...       ...       ...            ...       ...       ...
 65       253       309       293       766             35        95       118
 66       228       249       270       656             43       118       101
 67       220       294       328       799             31       111       117
 68       233       285       315       641             33       101        92
 69       200       356       336       737             39       121        83

    class
 1    MED
 2    MED
 3    MED
 4    MED
 5    MED
 ..   ...
 65   JPA
 66   JPA
 67   JPA
 68   JPA
 69   JPA

 [69 rows x 21 columns],
 6:    D00763_at M57464_s_at D80004_at D85815_at D50310_at U51336_at X54304_at  \
 1        491         293       592       175       989       492       123
 2        350         192       317       155      1120       419       123
 3        378          73       387       155      1232       238       125
 4        476         111       312       136      1132       268       176
 5        326          32       370       155      1030       214       124
 ..       ...         ...       ...       ...       ...       ...       ...
 65       297          62        34       177       526       678       179
 66       250          66        43       223       515       593       148
 67       316          83        38       213       549       590       176
 68       171          75        51       228       600       630       167
 69       247          65        54       216       492       668       181

    U16954_at U06155_at J03191_at  ... D45248_at U07550_at M93119_at D25304_at  \
 1        931        59       338  ...       141       390       628       270
 2        845        52       198  ...        84       302       760       250
 3       1107        41       197  ...       201       272       596       140
 4       1187        63       365  ...       143       378       825       167
 5        969        58       195  ...       177       191       536       141
 ..       ...       ...       ...  ...       ...       ...       ...       ...
 65       352        63       246  ...       181       293        20       766
 66       329        66       257  ...       160       270        20       656
 67       313        73       292  ...       193       328        20       799
 68       287        57       259  ...       163       315        20       641
 69       269        64       263  ...       167       336        20       737

    U17760_rna1_at X00371_rna1_at M20137_at M93426_at X76105_at class
 1              54             29       117        20       164   MED
 2              41             20        75        81        62   MED
 3              39             20        68        85        80   MED
 4              20             28       101        40       183   MED
 5              46             33        83       205        82   MED
 ..            ...            ...       ...       ...       ...   ...
 65             54             35        95       872       118   JPA
 66             63             43       118       874       101   JPA
 67             59             31       111       997       117   JPA
 68             63             33       101      1069        92   JPA
 69             48             39       121       896        83   JPA

 [69 rows x 31 columns],
 8:    D00763_at M57464_s_at D80004_at D85815_at M75099_at D50310_at U51336_at  \
 1        491         293       592       175        96       989       492
 2        350         192       317       155       139      1120       419
 3        378          73       387       155       184      1232       238
 4        476         111       312       136       181      1132       268
 5        326          32       370       155       113      1030       214
 ..       ...         ...       ...       ...       ...       ...       ...
 65       297          62        34       177       238       526       678
 66       250          66        43       223       230       515       593
 67       316          83        38       213       231       549       590
 68       171          75        51       228       216       600       630
 69       247          65        54       216       248       492       668

    X54304_at U16954_at U06155_at  ... D25304_at U17760_rna1_at X00371_rna1_at  \
 1        123       931        59  ...       270             54             29
 2        123       845        52  ...       250             41             20
 3        125      1107        41  ...       140             39             20
 4        176      1187        63  ...       167             20             28
 5        124       969        58  ...       141             46             33
 ..       ...       ...       ...  ...       ...            ...            ...
 65       179       352        63  ...       766             54             35
 66       148       329        66  ...       656             63             43
 67       176       313        73  ...       799             59             31
 68       167       287        57  ...       641             63             33
 69       181       269        64  ...       737             48             39

    M20137_at D87470_at X04106_at M93426_at X76105_at Z69915_at class
 1        117        84       370        20       164       160   MED
 2         75       151       388        81        62       172   MED
 3         68       166       482        85        80       184   MED
 4        101       106       497        40       183       164   MED
 5         83        88       351       205        82       157   MED
 ..       ...       ...       ...       ...       ...       ...   ...
 65        95       266       516       872       118        47   JPA
 66       118       227       487       874       101        66   JPA
 67       111       235       649       997       117        76   JPA
 68       101       220       561      1069        92        64   JPA
 69       121       236       573       896        83        69   JPA

 [69 rows x 41 columns],
 10:    D00763_at M57464_s_at D80004_at D85815_at M75099_at D50310_at U51336_at  \
 1        491         293       592       175        96       989       492
 2        350         192       317       155       139      1120       419
 3        378          73       387       155       184      1232       238
 4        476         111       312       136       181      1132       268
 5        326          32       370       155       113      1030       214
 ..       ...         ...       ...       ...       ...       ...       ...
 65       297          62        34       177       238       526       678
 66       250          66        43       223       230       515       593
 67       316          83        38       213       231       549       590
 68       171          75        51       228       216       600       630
 69       247          65        54       216       248       492       668

    D14043_at X54304_at U16954_at  ... U17760_rna1_at X00371_rna1_at M20137_at  \
 1        165       123       931  ...             54             29       117
 2        166       123       845  ...             41             20        75
 3        100       125      1107  ...             39             20        68
 4        117       176      1187  ...             20             28       101
 5        142       124       969  ...             46             33        83
 ..       ...       ...       ...  ...            ...            ...       ...
 65       213       179       352  ...             54             35        95
 66       224       148       329  ...             63             43       118
 67       150       176       313  ...             59             31       111
 68       163       167       287  ...             63             33       101
 69       233       181       269  ...             48             39       121

    D87470_at X04106_at M93426_at X76105_at U30521_at Z69915_at class
 1         84       370        20       164      1274       160   MED
 2        151       388        81        62      1308       172   MED
 3        166       482        85        80      1393       184   MED
 4        106       497        40       183      1075       164   MED
 5         88       351       205        82      1284       157   MED
 ..       ...       ...       ...       ...       ...       ...   ...
 65       266       516       872       118       173        47   JPA
 66       227       487       874       101        92        66   JPA
 67       235       649       997       117       116        76   JPA
 68       220       561      1069        92       304        64   JPA
 69       236       573       896        83        50        69   JPA

 [69 rows x 51 columns],
 12:    D00763_at M57464_s_at D80004_at D85815_at U79248_at D50310_at M75099_at  \
 1        491         293       592       175        47       989        96
 2        350         192       317       155        60      1120       139
 3        378          73       387       155        66      1232       184
 4        476         111       312       136        53      1132       181
 5        326          32       370       155        61      1030       113
 ..       ...         ...       ...       ...       ...       ...       ...
 65       297          62        34       177        31       526       238
 66       250          66        43       223        35       515       230
 67       316          83        38       213        38       549       231
 68       171          75        51       228        36       600       216
 69       247          65        54       216        33       492       248

    L43338_at U51336_at D14043_at  ... U17760_rna1_at X00371_rna1_at M20137_at  \
 1         37       492       165  ...             54             29       117
 2         38       419       166  ...             41             20        75
 3         38       238       100  ...             39             20        68
 4         34       268       117  ...             20             28       101
 5         29       214       142  ...             46             33        83
 ..       ...       ...       ...  ...            ...            ...       ...
 65        28       678       213  ...             54             35        95
 66        39       593       224  ...             63             43       118
 67        27       590       150  ...             59             31       111
 68        38       630       163  ...             63             33       101
 69        36       668       233  ...             48             39       121

    D87470_at X04106_at M93426_at X76105_at U30521_at Z69915_at class
 1         84       370        20       164      1274       160   MED
 2        151       388        81        62      1308       172   MED
 3        166       482        85        80      1393       184   MED
 4        106       497        40       183      1075       164   MED
 5         88       351       205        82      1284       157   MED
 ..       ...       ...       ...       ...       ...       ...   ...
 65       266       516       872       118       173        47   JPA
 66       227       487       874       101        92        66   JPA
 67       235       649       997       117       116        76   JPA
 68       220       561      1069        92       304        64   JPA
 69       236       573       896        83        50        69   JPA

 [69 rows x 61 columns],
 15:    M80629_at D00763_at M57464_s_at D80004_at U19878_at D85815_at  \
 1        105       491         293       592       149       175
 2         94       350         192       317       166       155
 3         81       378          73       387       163       155
 4         89       476         111       312        96       136
 5         95       326          32       370       153       155
 ..       ...       ...         ...       ...       ...       ...
 65        58       297          62        34        55       177
 66        67       250          66        43        51       223
 67        69       316          83        38        33       213
 68        72       171          75        51        40       228
 69        54       247          65        54        31       216

    U48705_rna1_s_at U79248_at D50310_at M75099_at  ... U17760_rna1_at  \
 1               188        47       989        96  ...             54
 2               131        60      1120       139  ...             41
 3               156        66      1232       184  ...             39
 4               198        53      1132       181  ...             20
 5               193        61      1030       113  ...             46
 ..              ...       ...       ...       ...  ...            ...
 65              992        31       526       238  ...             54
 66              843        35       515       230  ...             63
 67              859        38       549       231  ...             59
 68              858        36       600       216  ...             63
 69              826        33       492       248  ...             48

    X00371_rna1_at M20137_at D87470_at X04106_at M93426_at X76105_at U30521_at  \
 1              29       117        84       370        20       164      1274
 2              20        75       151       388        81        62      1308
 3              20        68       166       482        85        80      1393
 4              28       101       106       497        40       183      1075
 5              33        83        88       351       205        82      1284
 ..            ...       ...       ...       ...       ...       ...       ...
 65             35        95       266       516       872       118       173
 66             43       118       227       487       874       101        92
 67             31       111       235       649       997       117       116
 68             33       101       220       561      1069        92       304
 69             39       121       236       573       896        83        50

    Z69915_at class
 1        160   MED
 2        172   MED
 3        184   MED
 4        164   MED
 5        157   MED
 ..       ...   ...
 65        47   JPA
 66        66   JPA
 67        76   JPA
 68        64   JPA
 69        69   JPA

 [69 rows x 76 columns],
 20:    D50310_at U51336_at D31890_at X54304_at L06132_at J03191_at X60188_at  \
 1        989       492       332       123       437       338        27
 2       1120       419       291       123       419       198        45
 3       1232       238       272       125       325       197        95
 4       1132       268       330       176       474       365       109
 5       1030       214       193       124       517       195        83
 ..       ...       ...       ...       ...       ...       ...       ...
 65       526       678       185       179       467       246       155
 66       515       593       187       148       433       257       157
 67       549       590       204       176       467       292       142
 68       600       630       231       167       354       259       160
 69       492       668       204       181       402       263       143

    D42041_at U47621_at X52011_at  ... U27193_at HG3286-HT3463_at X15187_at  \
 1        178        68        49  ...        74               55       523
 2        103        33        31  ...       243               49       478
 3        182        20        39  ...       331               52       423
 4        249        46        33  ...       141               38       564
 5        200        20        42  ...       207               41       368
 ..       ...       ...       ...  ...       ...              ...       ...
 65       221        27        39  ...        22               32       545
 66       209        20        42  ...        20               42       591
 67       173        37        39  ...        24               40       574

In [ ]:
# data.to_csv('pp5i_train.topN.gr.csv')
N = [2, 4, 6, 8, 10, 12, 15, 20, 25, 30]
for item in N:
    data[item].to_csv('pp5i_train.top{}.gr.csv'.format(item))

In [ ]:
import pandas as pd
import numpy as np


train = pd.read_csv('pp5i_train.topN.gr.csv')

train.drop(labels=['Unnamed: 0'], axis=1, inplace=True)
print(train.shape, "\n", train )